
\.idea/misc\.xml

\.idea/modules\.xml

\.idea/vcs\.xml

\.idea/voronoi_hsi\.iml

\.idea/workspace\.xml

src/*.pyc
*.pyc

\.idea/dictionaries/lucas\.xml

\.idea/dictionaries/

.idea/*

src/\.idea/misc\.xml

src/\.idea/modules\.xml

src/\.idea/src\.iml

src/\.idea/workspace\.xml
