<launch>    <arg name="real_robot" default="false"/>    <arg name="record" default="false"/>    <group unless="$(arg real_robot)">        <param name="/use_sim_time" value="true"/>        <node name="stage" pkg="stage_ros" type="stageros" args="$(find voronoi_hsi)/worlds/three_voronoi.world"/>    </group>    <group if="$(arg real_robot)">        <param name="/use_sim_time" value="false"/>        <include file="$(find voronoi_hsi)/launch/epuck/epuck0.launch"/>        <include file="$(find voronoi_hsi)/launch/epuck/epuck1.launch"/>        <include file="$(find voronoi_hsi)/launch/epuck/epuck2.launch"/>    </group>    <include file="$(find voronoi_hsi)/launch/voronoi_params3.launch"/>    <include file="$(find voronoi_hsi)/launch/voronoi_common.launch"/>    <node name="weight_plot" pkg="rqt_plot" type="rqt_plot" args="/voronoi/robot_0/weight /voronoi/robot_1/weight /voronoi/robot_2/weight" /></launch>