<launch>
    <arg name="real_robot" default="false"/>
    <arg name="record" default="false"/>
    <group unless="$(arg real_robot)">
        <param name="/use_sim_time" value="true"/>
        <node name="stage" pkg="stage_ros" type="stageros" args="$(find voronoi_hsi)/worlds/eight_voronoi.world"/>
    </group>
    <group if="$(arg real_robot)">f
        <param name="/use_sim_time" value="false"/>
        <include file="$(find voronoi_hsi)/launch/epuck/epuck0.launch"/>
        <include file="$(find voronoi_hsi)/launch/epuck/epuck1.launch"/>
        <include file="$(find voronoi_hsi)/launch/epuck/epuck2.launch"/>
        <include file="$(find voronoi_hsi)/launch/epuck/epuck3.launch"/>
        <include file="$(find voronoi_hsi)/launch/epuck/epuck4.launch"/>
        <include file="$(find voronoi_hsi)/launch/epuck/epuck5.launch"/>
        <include file="$(find voronoi_hsi)/launch/epuck/epuck6.launch"/>
        <include file="$(find voronoi_hsi)/launch/epuck/epuck7.launch"/>
    </group>
    <include file="$(find voronoi_hsi)/launch/voronoi_params8.launch"/>
    <include file="$(find voronoi_hsi)/launch/voronoi_common.launch" pass_all_args="true"/>

    <node name="weight_plot" pkg="rqt_plot" type="rqt_plot" args="/voronoi/robot_0/weight /voronoi/robot_1/weight /voronoi/robot_2/weight /voronoi/robot_3/weight /voronoi/robot_4/weight /voronoi/robot_5/weight /voronoi/robot_6/weight /voronoi/robot_7/weight" />
</launch>